---
interface Props {
  id: string;
  name: string;
  price: number;
  discount: number;
  image: Image;
}

import LinkCard from "./LinkCard.astro";
import type { Image } from "../types";

const { id, image, name, discount, price } = Astro.props;
---

<LinkCard href={`/products/${id}`} class="inline-flex flex-col">
  <div>
    <img src={image.src} alt={image.alt} class="w-60" />
  </div>
  <div>
    <h4 class="py-2 text-2xl font-bold">{name}</h4>
    <h5 class="py-2 text-xl">
      {
        discount > 0 ? (
          <>
            <s>US${price}</s>&nbsp;US${price * (1 - discount)}
          </>
        ) : (
          <>US${price}</>
        )
      }
    </h5>
  </div>
</LinkCard>
